@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-03-29 10:47:19
 * @version $Id$
 */

	  .navbar > .container-fluid > .navbar-self {
	    height: auto;
	  }
	  .main > .col-md-2 > .nav-sidebar > li {
	    border: 0;
	  }
  	.sidebar-btn {
	  	display: none;
	  }
	  .operation-btn-group > button {
	  	margin-bottom: 20px;
	  }
	  .main-panel {
	  	position: relative;
	  	float: left;
	  	width: 100%;
	  }
  	.main-panel > .panel {
  		width: 48%;
  		padding: 0;
  	}
  	.main-panel > .panel:nth-child(odd) {
  		margin-right: 2%;
  	}
  	.panel-body > p {
  		padding: 8px 10px;
  		border-radius: 3px;
  	}
   .panel-body > .text-success {
   		background-color: #d3ffd3;
   }
   .panel-body > .text-danger {
   		background-color: #ffdddc;
   }
   .panel-body > .text-warning {
   		background-color: #ffeccc;
   }
   .panel-body-list {
   	position: relative;
   	padding: 0;
   }
   .panel-body-list > .panel-body-list-item {
	   	list-style-type: none;
	   	margin: 10px 0;
	   	padding: 0 10px;
	   	border-radius: 3px;
	   	background-color: rgb(210, 233, 255);
   }
   .panel-body-list > .panel-body-list-item:nth-child(1) {
   		margin-top: 0;
   }
   .panel-body-list > .panel-body-list-item > a {
	   	display: inline-block;
	   	padding: 6px 0;
   }
   .panel-body-list > .panel-body-list-item > span.label {
   		float: right;
   		margin: 7px 0;
   }
   .panel-body > table.table {
   		color: #6b6b6b;
   }
   .panel-body > table.table th {
   		font-weight: normal;
   }
   .main-progress:nth-child(1) {
   		margin-top: 10px;
   }
	 .main-progress > .span {
			display: inline-block;
			width: auto;
			padding: 4px 10px;
			margin: 3px 0;
			margin-bottom: 6px;
			border-radius: 5px;
			color: #fff;
			font-weight: bolder;
		}
		.label {
			line-height: 100%;
			border-radius: 10px;
			padding: 0.2em 0.4em;
		}
		.main-progress > .span-primary {
			background-color: #337ab7;
		}
		.main-progress > .span-danger {
			background-color: #d9534f;
		}
		.sidebar > .nav-sidebar > li:nth-child(2),
	  .sidebar > .nav-sidebar > li:nth-child(5) {
	  	padding-top: 15px;
	  }

	  .sidebar > .nav-sidebar > li {
	  	width: 100%;
	  	padding: 1px 15px;
	  	border-radius: 0;
	  	background-color: inherit;
	  }
	  .sidebar > .nav-sidebar > li.active{
	  	background-color:#337ab7;
	  }
	  .sidebar > .nav-sidebar > li > a {
	  	color: #337ab7;
	  }
	  .sidebar > .nav-sidebar > li > a:hover {
	  	text-decoration: underline;
	  }
	  .sidebar > .nav-sidebar > li > a:hover,
	  .sidebar > .nav-sidebar > li > a:active,
	  .sidebar > .nav-sidebar > li > a:visited, {
	  	background-color: inherit;
	  	color: #1b598e;
	  }
	  .sidebar > .nav-sidebar > li.active > a {
	  	color: #fff;
	  }
	  .sidebar > .nav-sidebar > li.active > a:hover,
	  .sidebar > .nav-sidebar > li.active > a:active,
	  .sidebar > .nav-sidebar > li.active > a:visited,
	  .sidebar > .nav-sidebar > li.active > a:focus {
	  	color: #eee;
	  	background-color: inherit;
	  }
	  .sidebar > .nav-sidebar > li > ul.list-group > li{
			border: 0;
			background-color: #eee;
	  }
  @media (max-width: 1100px) and (min-width: 768px) {
  	.navbar-form > input.form-control {
  		width: 160px;
  	}
  	.main > .sidebar {
  		height: auto;
  	}
  	.main-panel > .panel {
  		width: 100%;
  	}
  }
  @media (min-width: 768px) {
	  .main {
	  	position: relative;
	  	top: 0;
	  	float: left;
	  	width: 100%;
	  	height: 100%;
	  }	
	  .navbar-inverse {
	  	margin-bottom: 0;
	  	border-radius: 0;
	  }
	  .sidebar {
	  	height: 50em;
	  	padding: 0;
	    background-color: #eee;
	  }
	  .sidebar > .nav-sidebar {
	  	width: 100%;	
	  	margin-top: 20px;
	  }
	  

  }
  @media (max-width: 768px) {
  	.sidebar-btn {
  		display: inline;
	  	position: fixed;
	  	top: 40%;
	  	left: 0;
	  	width: 3em;
	  	white-space: normal;
	  	z-index: 1000;
	  }
  	.nav-sidebar {
	  	display: none;
  		position: fixed;
  		left: 0;
  		top: 40%;
  		width: 14.5em;
  		overflow: hidden;
  		background-color: #eee;
  		z-index: 1000;
  	}
  	.nav-sidebar > li {
  		width: 14.5em;
  		padding: 5px 10px;
  	}
  	.nav-sidebar > li > a {
  		padding: 5px 15px;
  	}
	  .main-panel > .panel {
	  	width: 100%;
	  }
  }